/* Общие стили */
body {
    background: rgb(34,193,195); /* Фон на случай, если градиенты не поддерживаются */
    background: -moz-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, rgba(255,99,71,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, rgba(255,99,71,1) 100%);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, rgba(255,99,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column; /* Используем flexbox для создания липкого футера */
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 10px;
    margin: 10px;
    text-align: center;
    width: auto;
    flex: 1; /* Это заставит основное содержимое растягиваться */
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    margin-top: top; /* Это заставит футер оставаться внизу */
}

#gifContainer {
    display: none;
    text-align: center;
    margin-top: 20px;
}

#gifContainer img {
    width: 100%;
    max-width: 400px;
}

/* Адаптация под мобильные устройства */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px;
    }

    section {
        padding: 5px;
        margin: 5px;
    }

    input[type="text"], button {
        width: 100%;
        font-size: 16px;
        margin-bottom: 10px;
    }

    footer p {
        font-size: 12px;
    }
}
