/* Общие стили */
body {
    background: rgb(34,193,195); /* Фон на случай, если градиенты не поддерживаются */
    background: -moz-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, rgba(255,99,71,1) 100%);
    background: -webkit-linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, rgba(255,99,71,1) 100%);
    background: linear-gradient(45deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 50%, rgba(255,99,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#22c1c3",endColorstr="#fdbb2d",GradientType=1);
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

section {
    padding: 10px;
    margin: 10px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: #333;
    color: #ffffff;
    position: fixed;
    width: 100%;
    bottom: 0;
}

/* Центрирование GIF */
div.image-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    bottom: 0;
    background-color: #fff;
    z-index: 999999;
    text-align: center;
}
.image-holder {
    position:absolute;
    left: 50%;
    top: 50%;
    width: 30px;
    height: 30px;
}
.image-holder img
{
    width: 100%;
    margin-left: -50%;
    margin-top: -50%;
}

/* Адаптация под мобильные устройства */
@media (max-width: 600px) {
    header h1 {
        font-size: 24px; /* Уменьшение размера заголовка на мобильных */
    }

    section {
        padding: 5px;
        margin: 5px;
    }

    input[type="text"], button {
        width: 100%; /* Кнопки и поля ввода занимают всю ширину экрана */
        font-size: 16px; /* Увеличение размера шрифта для удобства */
        margin-bottom: 10px;
    }

    footer p {
        font-size: 12px; /* Уменьшение текста в футере */
    }
}
